<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="res_config_settings_view_form" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit.sale</field>
        <field name="model">res.config.settings</field>
        <field name="inherit_id" ref="sale.res_config_settings_view_form" />
        <field name="arch" type="xml">
            <!--
                Letakkan di bagian paling bawah 
                karena template sale_ebay ada dibagian paling bawah di view sale.res_config_settings_view_form
            -->
            <div id="sale_ebay" position="after">
                <h2>Discount Nominal</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box" title="Apply discount nominal">
                        <div class="o_setting_left_pane">
                            <field name="group_discount_nominal"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="group_discount_nominal"/>
                            <div class="text-muted">
                                Grant discount nominal on sales order lines
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </field>
    </record>
</odoo>